.voting-buttons-container {
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 40px;
}

.App{
  width: 100vw;
  height: 100vh;

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

@media screen and (orientation: portrait) {
  .media-container {
    flex-direction: column;
  }
}
